.mobile-unsafe {
    @include small-screen {
        display: none !important;
    }
}
.unselectable {
    user-select: none;
}
.clickable {
    cursor: pointer;
    user-select: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    .row {
        display: flex;
        flex-direction: row;
        input {
            min-width: 20em;
        }
        &:not(:last-child) {
            margin-bottom: 1em;
        }
        label {
            flex-grow: 1;
            margin-right: 1em;
        }
        &.action {
            align-self: flex-end;
            button {
                font-size: 20px;
            }
        }
    }
}